@model EmployeeListApp.Models.FileUploadModel

@{
    ViewBag.Title = "Index";
}

<h2>Upload Employeer List</h2>

@using (Html.BeginForm("UploadFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Select file :</span>
    @Html.TextBoxFor(m => m.PostedFiles, new { type = "file", multiple = "multiple"})

    <hr />
    <input type="submit" value="upload" />

    <div>
        @ViewBag.UploadStatus
    </div>
}
